.content{
        border: 3px solid blue
        margin left: 10%;
        margin right: 10%;
        font-style:sans serif;
        background-color:ivory;
}
p{
        botder: 3px solid gray;
        
}